body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #ffffff;
}

form {
  background-color: #fff;

  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
  border: 1px solid #ccc;
  width: 100px;
  padding: 8px;
  /* text-shadow:2px 2px 4px rgba(0, 0, 0, 0.979); */
  margin-bottom: 0px;
  line-height: 1;
  color: white;
}
label {
  color: #fff8f8; /* Change color to your desired color */
  font-weight: bold;
}

button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }

#result {
  margin-top: 20px;
  font-weight: bold;
}
